body {
  background-image: url(Spirited\ Rivalry.jpg);
  background-size: cover;
}

* {
  text-align: right;
}

p {
  color: #aa4139;
  text-align: center;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
}

p {
  line-height: 5px;
  font-style: italic;
  font-size: 100%;
  font-weight: bold;
  font-family: "Poiret One", cursive;
}

img {
  float: left;
}

footer {
  clear: both;
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}

.active {
  color: red;
}

#div1 {
  background: rgba(0, 0, 255, 0.2);
}

#div2 {
  background: rgba(255, 0, 0, 0.2);
}
